openlogix-products-sapi/src/main/mule/post-products.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post-productsFlow" doc:id="3e2bea8d-77ca-4c60-9d3c-1034cc6d3e8c" >
		<db:insert doc:name="Insert products" doc:id="dde13e7f-197e-4709-bd0c-1031b1cd9ed7" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO products
VALUES(:accountDimensionId,:productDimensionCategoryId,:accountDimensionExternalId,:promotionDimensionId,:productDimensionExternalId,:label,:measureCode,:month1_2022,:month2_2022,:month3_2022,:month4_2022,:month5_2022,:month6_2022,:month7_2022,:month8_2022,:month9_2022,:month10_2022,:month11_2022,:month12_2022);
]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="products retrived" doc:id="4a3d7dd6-2b72-4a6a-9235-0103a21c5764" />
	</flow>
</mule>
