.mule/plugins-tmp/openlogix-common-library-1.0.0-mule-plugin/openlogix-common-logging.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="openlogix-common-start-loggingFlow" doc:id="273d2c5f-77f9-4826-bee1-8d935cb8776d" >
		<logger level="TRACE" doc:name="Logger" doc:id="e4fc29dd-ea95-4a31-900c-a20ca80633b3" message='#["Request Received: " ++ correlationId]'/>
	</flow>
	<flow name="openlogix-common-end-loggingFlow" doc:id="c98f03f6-c568-43d1-bb45-12d5b9d2c49c" >
		<logger level="TRACE" doc:name="Logger" doc:id="35edec54-828a-4bf0-bec9-491de2519cc0" message='#["Request Completed: " ++ correlationId]'/>
	</flow>
</mule>
